.votingBoothContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.votingBoothContainer .ui.card.poker {
    margin: 5px;
    height: 140px;
    width: 100px;
}

.votingBoothContainer .ui.card.poker:hover {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}